/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&display=swap');

/* Rest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

/* Nav bar */
header